{{- $hasArchive := true -}}
{{- $email := "alex.g.huang@gmail.com" -}}
{{- $shell := "fish" -}}
{{- $editor := "vscode" -}}

{{- if (and (eq .chezmoi.os "darwin") (eq $shell "fish")) -}}
[cd]
    command = "/opt/homebrew/bin/fish"
    args = ["-l", "-i"]
{{- end -}}

[data]
    hasArchive = {{ $hasArchive }}
    email = {{ $email | quote }}

{{- if eq $editor "vscode" -}}
[edit]
    command = "code"
    args = ["--wait"]
{{- end -}}

[git]
    autoAdd = true

[github]
    refreshPeriod = "12h"
