[color]
    ui = true
[delta]
	dark = true
	blame-palette = "#24273a #1e2030 #181926 #363a4f #494d64"
	commit-decoration-style = "#6e738d" bold box underline
	file-decoration-style = "#82aaff"
	file-style = "#ffcb6b"
	hunk-header-decoration-style = "#6e738d" box underline
	hunk-header-file-style = "#82aaff" bold
	hunk-header-line-number-style = bold "#ffcb6b"
	hunk-header-style = file line-number syntax
    line-numbers-left-format = "  {nm:^1}  "
	line-numbers-left-style = "#6e738d"
	line-numbers-minus-style = bold "#f07178"
	line-numbers-plus-style = bold "#c3e88d"
    line-numbers-right-format = "  {np:^1}  "
	line-numbers-right-style = "#6e738d"
	line-numbers-zero-style = "#acb2be"
	minus-emph-style = bold syntax "#793938"
	minus-style = syntax "#4c292b"
	plus-emph-style = bold syntax "#596b43"
	plus-style = syntax "#3d4438"
	map-styles = \
		bold red => syntax "#ed8796", \
        bold yellow => syntax "#eed49f", \
        bold green => syntax "#a6da95", \
        bold cyan => syntax "#91d7e3", \
        bold blue => syntax "#8aadf4", \
        bold purple => syntax "#b7bdf8"
